<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is my Shop, Welcome</h1>

    <h2>{{myShop.name}}</h2>
    <h2>{{myShop.email}}</h2>

    <a href={{url}}>Add Products</a>

   {{!-- <h2> {{link "Add Products" id}}</h2> --}}
</body>
</html>